---
import Badge from "@/components/Badge.astro"
import Github from "@/icons/Github.astro"
import Link from "@/icons/Link.astro"
import AnchorButton from "./AnchorButton.astro"
import DynamicImage from "./DynamicImage.astro"
const { props } = Astro.props
const { title, image, description, stack, githubUrl, projectUrl } = props
---

<article>
	<figure>
		<DynamicImage
			styles="mb-4 w-full rounded-lg object-cover"
			image={image}
			alt={title}
			loading="lazy"
		/>
	</figure>
	<ul class="mb-6 flex gap-2">
		{
			stack.map((tech: string) => (
				<li>
					<Badge text={tech} />
				</li>
			))
		}
	</ul>
	<div class="mb-4">
		<h3 class="mb-2 text-2xl font-semibold text-slate-300">{title}</h3>
		<p class="text-slate-400">{description}</p>
	</div>
	<div class="flex gap-4">
		<AnchorButton title="Repository" url={githubUrl}>
			<Github />
		</AnchorButton>
		<AnchorButton title="Go to the project" url={projectUrl}>
			<Link />
		</AnchorButton>
	</div>
</article>
